<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JcShare</title>

    <!-- Style Sheet-->
    <link rel="stylesheet" id='bootstrap-css-css' href="../static/css/bootstrap5152.css?ver=1.0" type="text/css" media="all" />
    <link rel="stylesheet" id='responsive-css-css' href="../static/css/responsive5152.css?ver=1.0" type="text/css" media="all" />
    <link rel="stylesheet" id="pretty-photo-css-css" href="../static/js/prettyphoto/prettyPhotoaeb9.css?3.1.4" type="text/css" media="all" />

    <link rel="stylesheet" id="main-css-css" href='../static/css/main5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css-css' href='../static/css/custom5152.html?ver=1.0' type='text/css' media='all' />

</head>
<body>

</body>
</html>